body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #6c88d6;

}

.navbar-main-container {
    width: 100%;
    background: #192546;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.project-name {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    align-items: center;
    gap: 400px;
}

.nav-links-container {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.auth-links-container {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s ease;
}

.menu-item:hover {
    color: orange;
}


.container {
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    height: 700px;


}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}


.left-card {
    background: #faf8d7;
    width: 400px;
    height: 500px;
    text-align: center;
    padding: 50px 30px;
}

.left-card .avatar {
    width: 280px;
    height: 240px;
    margin-bottom: 10px;
}

.left-card h2 {
    color: #000;
    margin-bottom: 15px;
    font-size: 30px;
    /* bigger text */
}

.left-card p {
    font-size: 18px;
    color: #000;
}


.card {
    background: #f8f2f2;
    width: 400px;
    height: 500px;
    text-align: center;
    padding: 50px 30px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.social-row {
    display: flex;
    flex-direction: row;

}

.social-btn {
    width: 30%;
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    gap: 20px;
}

.google-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    vertical-align: middle;
    margin-right: 8px;
    color: inherit;

}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.github-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    vertical-align: middle;
    margin-right: 8px;
    color: inherit;
}



.social-box {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 20px;
}

.social-btn {
    flex: 1;
    background: #edebeb;
    border: none;
    padding: 12px;
    color: #0d0c0c;
    border-radius: 10px;
    cursor: pointer;
}

.social-btn:hover {
    background: #d7d2d2;
}


.or {
    text-align: center;
    color: #aaa;
    margin: 12px 0 20px;
    margin-bottom: 0px;
}


form input {
    width: 100%;
    padding: 14px;
    margin-bottom: 14px;
    background: #edebeb;
    border: none;
    border-radius: 10px;
    color: #030303;
    font-size: 15px;

}

.name-group {
    display: flex;
    gap: 12px;
}


.note {
    font-size: 13px;
    color: #bbb;
    margin-bottom: 12px;
    display: block;
}


.signup-btn {
    width: 100%;
    padding: 12px;
    background: #3172f5;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 1px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

.signup-btn:hover {
    background: #0443b0;
}

.signup-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    vertical-align: middle;
}


.terms {
    font-size: 13px;
    color: #aaa;
    margin-top: 12px;
}

.terms a {
    color: #0930de;
}


.login-link {
    text-align: center;
    color: #bbb;
    margin-top: 8px;
}

.login-link a {
    color: #0930de;
}

.login-link :hover {
    text-decoration: underline;
}

/* FOOTER */
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.footer-section-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 900px;
}

.footer-section-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
}

.footer-section-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
}

.footer-section-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
}

.social-icon-container {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.menu-subitem {
    text-decoration: none;
    color: white;
}


@media (max-width: 768px) {
    .navbar-main-container {
        flex-direction: column;
        gap: 15px;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    .main-subheading {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .footer-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer-section-1,
    .footer-section-2,
    .footer-section-3,
    .footer-section-4 {
        width: 100%;
    }
}

/*992px*/


@media (max-width: 992px) {

    .navbar-main-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        width: 100%;
    }

    nav {
        width: 100%;
        justify-content: space-between;
        gap: 20px;
    }

    .project-name {
        font-size: 20px;
    }

    .nav-links-container,
    .auth-links-container {
        flex-direction: column;
        width: 100%;
        gap: 12px;
        text-align: left;
    }
}


/*  768px*/

@media (max-width: 768px) {

    .navbar-main-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .menu-item {
        font-size: 20px;
    }

    .container {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .left-card,
    .card {
        width: 95%;
        height: auto;
    }

    .avatar {
        width: 80px;
        height: 80px;
    }
}



/*  480px */
@media (max-width: 480px) {

    .project-name {
        font-size: 18px;
    }

    .main-logo {
        height: 40px;
        width: 40px;
    }


    .nav-links-container,
    .auth-links-container {
        gap: 10px;
        margin-left: auto;
        display: flex;

    }

    .icon {
        width: 12px;
        height: 12px;
    }

    .avatar {
        width: 60px;
        height: 60px;
    }
}