body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
     background-color:#faf8d7;
}


.navbar-main-container {
    width: 100%;
    background:#192546;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: fixed;    
    top: 0;              
    left: 0;             
    width: 100%;
    z-index: 999;  
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.project-name {
    color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    align-items: center;
    gap: 400px;
}

.nav-links-container {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.auth-links-container {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s ease;
}

.menu-item:hover {
    color: orange;
}


.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color:#6c88d6;
}


.text-content h1 {
    color: black;
    margin-bottom: 10px;
    text-align: center;
    padding: 40px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: cursive;
}


.main-section-img {
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
}


.main-subheading {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
    text-align: center;
}

.card {
    background: rgba(243, 248, 248, 0.267);
    padding: 25px;
    width: 23%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.card h2 {
    margin-top: 15px;
    font-size: 20px;
}

.card p {
    font-size: 14px;
    padding: 0 10px 20px;
}

.btn {
    display: inline-block;
    padding: 10px 18px;
    background-color: rgb(87, 91, 87);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.3s;
    font-size: 18px;
    cursor: pointer;

}

.btn:hover {
    box-shadow: 0 4px 12px rgba(73, 169, 73, 0.5);
    background-color: rgb(9, 165, 9);

}

.social-img {
    height: 50px;
    width: 40px;
}
.video-card{
    width: 800px;
    background-color: #AABBC3;
    padding: 14px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    margin: 20px auto;
    height: 400px;
    margin-top: 10px;
    border: 2px solid #0C2B4E;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;

}
.video{
    width:100%;
    border-radius: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.footer-section-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 900px;
}

.footer-section-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
}

.footer-section-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
}

.footer-section-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
}

.social-icon-container {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.menu-subitem {
    text-decoration: none;
    color:white;
}


@media (max-width: 768px) {
    .navbar-main-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        width: 100%;
    }

    nav {
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }
    .project-name{
        font-size:20px;
    }
    .nav-links-container
    .auth-links-container{
        flex-direction: column ;
        width: 100%;
        gap:12px;
        text-align: left;
    }
   .main-subheading {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
    .video-card{
        width:100%;
        padding: 10px;
        height: auto;
        margin: 10px auto;
    }
    .video-card video{
        width: 100%;
        height: auto;
    }

    .footer-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer-section-1,
    .footer-section-2,
    .footer-section-3,
    .footer-section-4 {
        width: 100%;
    
}
}